.display-flex{
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}


.padding-8px-9px{
    padding: 8px 9px;
}

.padding-10px-10px{
    padding: 10px 10px;
}

.padding-20px-0-15px-0 {
    padding: 20px 0 15px 0;
}

.margin-10px-10px {
    margin: 10px 10px;
}

.margin-top-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.border {
    border: 1.5px solid transparent;
    border-radius: 4px;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 4px;
}
.color-white {
    color: white;
}

.text-decoration-none{
    text-decoration: none;
}

